# ========================
# ANDROID (Kotlin/Gradle)
# ========================
/android-client/build/
/android-client/app/build/
/android-client/.gradle/
/android-client/local.properties
/android-client/.idea/
/android-client/**/*.apk
/android-client/**/*.aab
/android-client/**/*.iml
/android-client/app/release/
/android-client/app/debug/

# ========================
# PC SERVER (C++ / g++)
# ========================
/pc-server/build/
/pc-server/build2/
/pc-server/.cmake/
/pc-server/CMakeCache.txt
/pc-server/CMakeFiles/
/pc-server/*.exe
/pc-server/*.obj
/pc-server/*.o
/pc-server/*.log
/pc-server/err.txt
/pc-server/out.txt

# ========================
# UMUM (OS & Editor)
# ========================
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db